

<div class="form-group">
  <label for="first-name">First Name</label>
  <input type="text" name="firstName" class="form-control" id="first-name" aria-describedby="first-name-help" placeholder="First Name"/>
  <div class="invalid-feedback"></div>
  <small id="first-name-help" class="form-text text-muted">20 chars max</small>
</div>

<div class="form-group">
  <label for="last-name">Last Name</label>
  <input type="text" name="lastName" class="form-control" id="last-name" aria-describedby="last-name-help" placeholder="Last Name"/>
  <div class="invalid-feedback"></div>
  <small id="last-name-help" class="form-text text-muted">20 chars max</small>
</div>

<div class="form-group">
  <label for="email-address">Email</label>
  <input type="email" name="email" class="form-control" id="email-address" aria-describedby="email-address-help" placeholder="Email Address"/>
  <div class="invalid-feedback"></div>
  <small id="email-address-help" class="form-text text-muted">50 chars max</small>
</div>

<div class="form-group">
  <label for="phone-number">Phone</label>
  <input type="tel" name="phone" class="form-control" id="phone-number" aria-describedby="phone-help" placeholder="Phone"/>
  <div class="invalid-feedback"></div>
  <small id="phone-help" class="form-text text-muted">Format xxx-xxx-xxxx</small>
</div>

<div class="form-group">
  <label for="address">Address</label>
  <input type="address" name="address" class="form-control" id="address" aria-describedby="address-help" placeholder="Address"/>
  <div class="invalid-feedback"></div>
  <small id="address-help" class="form-text text-muted"> your home address</small>
</div>

<div class="form-group">
  <label for="phone-number">ZIP</label>
  <input type="zip" name="zip" class="form-control" id="zip" aria-describedby="zip-help" placeholder="Zip"/>
  <div class="invalid-feedback"></div>
  <small id="zip-help" class="form-text text-muted">Format xxxx</small>
</div>

<div class="form-group">
  <label for="phone-number">City</label>
  <input type="cit" name="city" class="form-control" id="city" aria-describedby="city-help" placeholder="City"/>
  <div class="invalid-feedback"></div>
  <small id="city-help" class="form-text text-muted">Format Wien</small>
</div>

<div class="form-group">
  <label for="company">Company</label>
  <input type="text" name="companyName" class="form-control" id="company" aria-describedby="company-help" placeholder="Company Name"/>
  <div class="invalid-feedback"></div>
  <small id="company-help" class="form-text text-muted">Customer's company name</small>
</div>
